#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
nav {
  display: flex;
  gap: 2em;
  margin: 1em;
}
a {
  border-radius: 1em;
  width: 10vw;
  border: 2px solid black;
}
button {
  width: 10vw;
  aspect-ratio: 2/1;
  align-self: center;
}
.timerBox {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  gap: 1em;
}
